name: build-and-test
on:
  workflow_call
    
env:
  spm_path: ${{ vars.SPM_PATH && '/' || '' }}
  spm_name: ${{ vars.SPM_NAME }}-Package
  swift_version: '5.9'
  xcode_path: "/Applications/Xcode_15.0.1.app"
  xcodebuild_sdk: -sdk iphonesimulator
  xcodebuild_derivedData: ".spmComponentDerivedData/"
  xcodebuild_destination: -destination 'platform=iOS Simulator,name=iPhone 15 pro'

jobs:
  build:
    name: Build
    runs-on: macos-14
    steps:
    - name: "Package name"
      run: echo "Build ${{ env.spm_path }}${{ env.spm_name }} SPM"
    - name: Set Swift Version
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ env.swift_version }}
    - name: Get swift version
      run: swift --version
    - name: Select Xcode
      run: sudo xcode-select -s ${{ env.xcode_path }}
    - name: Checkout Action
      uses: actions/checkout@v4
    - name: Build
      run: |
        xcodebuild -list
        xcodebuild -scheme ${{ vars.SPM_NAME }} ${{ env.xcodebuild_sdk }} ${{ env.xcodebuild_destination }} build

  test:
    name: Unit and Snapshot Test
    runs-on: macos-14
    steps:
    - name: "Package name"
      run: echo "Build ${{ env.spm_name }} SPM at ${{ github.workspace }}"
    - name: Set Swift Version
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ env.swift_version }}
    - name: Get swift version
      run: swift --version
    - name: Select Xcode
      run: sudo xcode-select -s ${{ env.xcode_path }}
    - name: Checkout Action
      uses: actions/checkout@v4
    - name: Get sourcery
      run: |
        brew install sourcery
    - name: Run sourcery
      run: |
        xcodebuild -list
        xcodebuild -scheme ${{ vars.SPM_NAME }} -derivedDataPath ${{ env.xcodebuild_derivedData }} ${{ env.xcodebuild_destination }}
        for file in $( find . -type f -name ".sourcery.yml" -exec dirname {} \; )
        do
          cd ${{ github.workspace }}
          cd "$file"
          echo "Dependencies: $file"
          sourcery
        done
    - name: Test
      run:  |
        xcodebuild -scheme ${{ env.spm_name }} ${{ env.xcodebuild_sdk }} ${{ env.xcodebuild_destination }} test